#file types
*.zip
*.exe
*.rar
*.ipynb

#filenames
/Gemeentegrenzen_2019*
test.html
custom_argument_parsing.js
test.js
app.py
index.html
data.csv
package-lock.json

# folders
shapes/
Documenten/
node_modules/
.ipynb_checkpoints/
__pycache__/